doctype 5
html
  include includes/head
  body
    div#wrap
      include includes/header
      block content
    include includes/footer
    script(type='text/javascript', src='/js/build/mammoth.min.js')