div.filter
  div.row
    label.field
      span Title:
      input#title
    label.field
      span Autor:
      input#author
  div.row
    label.field
      span Inicio:
      input#start.date
    label.field
      span Fin:
      input#end.date
    label.field
      span Tag:
      input#tag
  div.row.search
    a#search(href='#') Buscar