div.filter
  div.first-column
    form#filter
      div.row
        select#title(name='title')
      div.row
        select#category(name='category')
      div.row
        input#start.date(name='start')
        div(style='display: inline; padding: 5px;')
        input#end.date(name='end')
      div.row
        select#tag(name='tag', multiple='multiple')
      div.row.search
        a#search(href='#') Buscar
  div.second-column
      span.ui-icon.ui-icon-info(style='float: left; margin: .3em .4em 0 0;')
      h3 &iquest;Buscas un art&iacute;culo en particular?
      p Utiliza el filtro de contenidos y busca por t&iacute;tulo, tags o categor&iacute;as. Adem&aacute;s puedes acotar la b&uacute;squeda por fechas. &iexcl;Pru&eacutebalo, es f&aacute;cil!
