div.filter
  div.first-column
    div.row
      label.field
        span Title:
        input#title
    div.row
      label.field
        span Inicio:
        input#start.date
    div.row
      label.field
        span Fin:
        input#end.date
    div.row
      label.field
        span Tag:
        input#tag
    div.row.search
      a#search(href='#') Buscar
  div.second-column
      span.ui-icon.ui-icon-info(style='float: left; margin-top: .3em;')
      h3 &iquest;Buscas algo en particular?
      p Utiliza el filtro de art&iacuteculos y busca por t&iacutetulo, tags o categorias. Adem&aacutes puedes acotar la b&uacutesqueda por fechas. &iexclPruebalo, es f&aacutecil!