footer
  div.container
    div.row
      ul.list-inline.text-center
        li
          a(href='https://github.com/dgaubert')
            span.icon-stack.icon-2x
              i.icon-circle.icon-stack-base
              i.icon-github.icon-light
        li
          a(href='http://www.linkedin.com/in/danielgarciaaubert')
            span.icon-stack.icon-2x
              i.icon-circle.icon-stack-base
              i.icon-linkedin.icon-light
        li
          a(href='https://twitter.com/danigaubert')
            span.icon-stack.icon-2x
              i.icon-circle.icon-stack-base
              i.icon-twitter.icon-light
        li
          a(href='http://www.dgaubert.com/blog/rss')
            span.icon-stack.icon-2x
              i.icon-circle.icon-stack-base
              i.icon-rss.icon-light
    div.row
      p.text-center &copy 2013 Daniel García Aubert. All rights reserved. 
        | Designed and developed in sunny 
        a(href='https://maps.google.com/maps?q=Madrid,+Spain&hl=en&ll=40.41415,-3.696041&spn=0.092012,0.131664&sll=45.890008,0.74707&sspn=21.538935,33.706055&oq=madrid+spa&t=k&hnear=Madrid,+Community+of+Madrid,+Madrid,+Spain&z=13')
          strong Madrid