footer
  div.footer-content 
    p &copy 2012 Daniel Garc&iacutea Aubert. All rights reserved. Designed and developed in sunny 
      a(href='https://maps.google.com/maps?q=Madrid,+Spain&hl=en&ll=40.41415,-3.696041&spn=0.092012,0.131664&sll=45.890008,0.74707&sspn=21.538935,33.706055&oq=madrid+spa&t=k&hnear=Madrid,+Community+of+Madrid,+Madrid,+Spain&z=13')
        strong Madrid
