header
  section.menu
    section.logo
      hgroup
        h1.title WebSphere
        h2.description programmer
    nav
      a(href='/') Inicio
      a.active(href='/blog') Blog
      a(href='/projects') Projectos
      a(href='/contact') Contacto