header.navbar.navbar-default.navbar-fixed-top
  div.container
    div.navbar-header
      //- button mobile
      button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      //- logo
      a.navbar-brand.logo(href="/") 
        //- span Daniel Gaubert
        img(src="/images/logo.png")
      //- menu
    div.navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        li(class='#{section === "home" ? "active" : ""}')
          a(href='/')
            i.icon-home.icon-large
            span  inicio
        li(class='#{section === "blog" ? "active" : ""}')
          a(href='/blog') 
            i.icon-pencil.icon-large
            span  blog
