head
  title #{title}
  link(rel='shortcut icon', type='image/x-icon', href='/images/favicon.ico')
  link(rel='stylesheet', href='/style/jquery-ui-1.9.1.mammoth.min.css')
  link(rel='stylesheet', href='/plugin/jqcloud/jqcloud.css')
  link(rel='stylesheet', href='/style/mammoth.css')