header
  section.menu
    section.logo 
      span.title Websphere
      span.description programmer
    nav
      a(href='/') Inicio
      a.active(href='/blog') Blog
      a(href='/projects') Projectos
      a(href='/contact') Contacto
