head
  meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
  meta(http-equiv="content-language", content="es-ES")
  meta(name="title", content="#{title}")
  meta(name="description", content="Daniel García Aubert. Desarrollador web. Experto en java y javascript. Blog sobre desarrollo web, metodologías ágiles y TDD")
  meta(name="keywords", content="programador, desarrollador web, freelance, javascript, java, scrum, extreme programming, test driven development")
  title #{title}
  link(rel='shortcut icon', type='image/x-icon', href='/images/favicon.ico')
  link(rel='stylesheet', href='/style/jquery-ui-1.9.1.mammoth.min.css')
  link(rel='stylesheet', href='/plugin/jqcloud/jqcloud.css')
  link(rel='stylesheet', href='/style/mammoth-bootstrap.css')
  link(rel='stylesheet', href='/custom/font-awesome/css/font-awesome.min.css')
  include ga