header
  section.menu
    section.logo
      hgroup
        h1.title Daniel Gª Aubert
        h2.description programmer
    nav
      a(class='#{section === "home" ? "active" : ""}', href='/') inicio
      a(class='#{section === "blog" ? "active" : ""}', href='/blog') blog
      // a(href='/projects') Projectos
      // a(href='/contact') Contacto
    section.social
      a.social.github(href='https://github.com/dgaubert')
      a.social.linkedin(href='http://www.linkedin.com/in/danielgaubert')
      a.social.twitter(href='https://twitter.com/dg4ubert')
