// Reset
*
  margin 0
  padding 0

// General
body
  font 400 14px/1.6 'Open Sans', sans-serif
input
  &:focus
    background #ffffff
    border 1px solid #888
    outline none
  color #888
  background #e6e6e6 url(images/ui-bg_inset-soft_75_e6e6e6_1x100.png) 50% 50% repeat-x
  font-size 0.9em
  border 1px solid #ccc
  margin 0 5px 0 0
  padding 2px 5px 2px 5px

// Redefine JQuery values
.ui-widget
  font-size 1em

span.ui-button-text
  display inline !important

div.ui-buttonset 
  margin 0px !important
  a.ui-button
    margin 0px !important

.ui-datepicker
  font-family 'Open Sans', sans-serif

.ui-datepicker-prev-hover
.ui-datepicker-next-hover
  border 1px solid rgba(0,0,0,0) !important

.ui-autocomplete
  max-height 200px
  overflow-y auto
  // Prevent horizontal scrollbar
  overflow-x hidden

.ui-menu
  position absolute
  width 100px
  
// Header
header
  border-bottom 1px solid #ccc
  box-shadow 0 0 4px #ddd
  position fixed
  top 0
  left 0
  background rgba(255, 255, 255, .85)
  width 100%
  height 45px
  z-index 100
  section.menu
    width 700px
    margin auto
    section.logo
      float left
      h1.title
        display inline
        font-size 2em
      h2.description
        display inline
        color #888
        font-size 0.8em
        margin 0 0 0 10px
    nav
      text-align right
      padding 15px 0 0 0
      a
        &:hover
          color #222
        color #888
        text-decoration none
        font-weight bold
        padding 0 0 0 40px
      .active
        color #f81b1b

// Content
div.content
  padding 0 0 60px

// Blog
div.blog
  padding 60px 0 0 0
  width 700px
  margin auto
// Filter
div.filter
  width 100%
  padding 20px 0 10px 0
  div.row
    width 100%
    padding 0 0 10px 0
    label
      span
        font-weight bold
        padding 0 5px 0 0
      input
        margin 0 5px 0 0
  .search
    text-align right
  input#title
    width 350px
  input#author
    width 210px
  input#start
    width 150px
  input#end
    width 150px
  input.date
     font bold 12px/1 'Open Sans', sans-serif
  input#tag
    width 220px
// Post
div.post
  width 100%
  padding 0 0 20px 0
// Title
hgroup.post-title
  border-bottom 1px solid #ccc
  padding 0 0 5px
  margin 0 0 10px
h2.title
  display inline
h3.created
h3.author
h3.comments
  display inline
  font-size 0.9em
  color #888

// Abstract
div.post-abstract
  text-align justify
// Action  
div.post-action
  padding 5px 0 0 0
a.link
  margin 0 10px 0 0
  font bold 12px/1 'Open Sans', sans-serif
  background #fff
a.tag
  margin 0 5px 0 0
  font bold 12px/1 'Open Sans', sans-serif

// Pagination
div.paginator
  float right
a#page-selector
  background #fff
 
// Footer
footer div.footer-content
  border-top 1px solid #ccc
  box-shadow 0 0 4px #ddd
  p
    padding 20px 0
    text-align center
    color #888
