// Reset
*
  margin 0
  padding 0

// General
body
  font 400 14px/1.6 'Open Sans', sans-serif
p
  text-align justify
  
// Redefine JQuery values

span.ui-button-text
  display inline !important

div.ui-buttonset 
  margin 0px !important
  a.ui-button
    margin 0px !important

.ui-datepicker
  font-family 'Open Sans', sans-serif

.ui-menu
  position absolute
  width 100px
  
.ui-state-hover
  color #3875d7
  -webkit-box-shadow 0 0 3px rgba(0,0,0,.3)
  -moz-box-shadow 0 0 3px rgba(0,0,0,.3)
  box-shadow 0 0 3px rgba(0,0,0,.3)
  border 1px solid #5897fb
  
// Header
header
  border-bottom 1px solid #ccc
  box-shadow 0 0 4px 0 #ddd
  position fixed
  top 0
  left 0
  background rgba(255, 255, 255, .9)
  width 100%
  height 45px
  z-index 100
  section.menu
    width 700px
    margin auto
    section.logo
      float left
      h1.title
        color #3875d7
        display inline
        font-size 2em
      h2.description
        display inline
        color #888
        font-size 0.8em
        margin 0 0 0 10px
    nav
      text-align right
      padding 15px 0 0 0
      a
        &:hover
          color #222
        color #888
        text-decoration none
        font-weight bold
        padding 0 0 0 40px
      .active
        color #3875d7

// Content
div.content
  padding 0 0 60px

// Blog
div.blog
  width 700px
  margin auto
  
// Filter
div.filter
  width 700px
  margin auto
  div.first-column
    display inline-block
    width 430px
    div.row
      width 100%
      padding 0 0 10px 0
    div.search
      text-align right
    select
      width 100%
    input#start
      width 196px
    input#end
      width 196px
  div.second-column
    width 250px
    padding 0 0 0 20px
    display inline-block
    vertical-align top
  input
    &:focus
      background-image -webkit-linear-gradient(top, #eee 20%, #fff 80%)
      background-image -moz-linear-gradient(top, #eee 20%, #fff 80%)
      background-image -o-linear-gradient(top, #eee 20%, #fff 80%)
      background-image linear-gradient(#eee 20%, #fff 80%)
      -webkit-box-shadow 0 0 5px rgba(0,0,0,.3)
      -moz-box-shadow 0 0 5px rgba(0,0,0,.3)
      box-shadow 0 0 5px rgba(0,0,0,.3)
      border 1px solid #5897fb
      outline none
    color #444
    border 1px solid #aaa
    padding 3px 6px 3px 6px
    border-radius 3px
    background-image -webkit-linear-gradient(top, white 20%, #f6f6f6 50%, #eee 52%, #f4f4f4 100%)
    background-image -moz-linear-gradient(top, white 20%, #f6f6f6 50%, #eee 52%, #f4f4f4 100%)
    background-image -o-linear-gradient(top, white 20%, #f6f6f6 50%, #eee 52%, #f4f4f4 100%)
    background-image linear-gradient(white 20%, #f6f6f6 50%, #eee 52%, #f4f4f4 100%)
    -webkit-box-shadow 0 0 2px #fff inset, 0 1px 0 rgba(0,0,0,0.05)
    -moz-box-shadow 0 0 2px #fff inset, 0 1px 0 rgba(0,0,0,0.05)
    box-shadow 0 0 2px #fff inset, 0 1px 0 rgba(0,0,0,0.05)
    
// Post
div.post
  width 100%
  padding 0 0 20px 0
// Title
hgroup.post-title
  border-bottom 1px solid #888
  padding 0 0 5px
  margin 0 0 10px
h2.title
  display inline
  color #444
h3.created
h3.author
h3.comments
  display inline
  font-size 0.9em
  color #888
h3.comments
  margin 0 0 0 15px

// Abstract
div.post-abstract
  text-align justify
// Action  
div.post-action
  padding 5px 0 0 0
a.link
  margin 0 15px 0 0
  font bold 12px/1 'Open Sans', sans-serif
  background #fff
a.tag
  margin 0 5px 0 0
  font bold 12px/1 'Open Sans', sans-serif
a.category
  &:hover
    background #fff
  margin 0 15px 0 0
  font bold 12px/1 'Open Sans', sans-serif

// Subheader
div.subheader  
  width 100%
  height 200px
  background #eee
// Subheader2
div.subheader2
  padding 60px 0 0 0
  width 100%
  background #c8daf8
section.center
  width 700px
  margin auto
  

// Pagination
div.paginator
  float right
a#page-selector
  background #fff
 
// Footer
footer div.footer-content
  border-top 1px solid #ccc
  box-shadow 0 0 4px #ddd
  p
    padding 20px 0
    text-align center
    color #888