@font-face {
  font-family: 'Monda';
  font-style: normal;
  font-weight: 400;
  src: local('Monda Regular'), local('Monda-Regular'), url("/style/fonts/Monda.woff") format('woff');
}
@font-face {
  font-family: 'Annie Use Your Telescope';
  font-style: normal;
  font-weight: 400;
  src: local('Annie Use Your Telescope'), local('AnnieUseYourTelescope'), url("/style/fonts/AnnieUseYourTelescope.woff") format('woff');
}
* {
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}
body {
  font-family: 'Open Sans', sans-serif;
}
p,
li {
  font-size: 14px;
  line-height: 1.6;
  text-align: justify;
  color: #444;
}
ul {
  padding: 0 0 0 40px;
}
a {
  text-decoration: none;
}
h1 {
  font-family: 'Monda', sans-serif;
  font-size: 1.8em;
  padding: 0 0 20px 0;
}
h2 {
  font-family: 'Monda', sans-serif;
  font-size: 1.4em;
  padding: 0 0 0 0;
}
h3 {
  font-family: 'Monda', sans-serif;
  font-size: 1.1em;
  padding: 0 0 15px 0;
}
span.ui-button-text {
  display: inline !important;
}
div.ui-buttonset a.ui-button {
  margin: 0px !important;
}
.ui-menu {
  position: absolute;
  width: 130px;
  padding: 0 2px 0 2px;
}
.ui-menu .ui-menu-item {
  margin: 3px 0 3px 0;
}
.ui-state-hover {
  color: #3875d7;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
  border: 1px solid #3875d7;
}
header {
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0 4px 0 #ddd;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0.8);
  width: 100%;
  height: 65px;
  z-index: 100;
}
header section.menu {
  width: 800px;
  margin: auto;
  padding: 0 0 20px 0;
}
header section.menu section.logo {
  margin: 14px 100px 0 0;
  float: left;
}
header section.menu section.logo h1.title {
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 2.4em;
  padding: 0;
  line-height: 1;
  color: #666;
  display: inline-block;
}
header section.menu section.logo h2.description {
  color: #888;
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 1.2em;
  padding: 0;
  line-height: 1;
  margin: 0 0 0 10px;
  display: inline-block;
}
header section.menu nav {
  display: inline-block;
  margin: 26px 0 0 0;
}
header section.menu nav a {
  color: #888;
  font-family: 'Monda', sans-serif;
  font-size: 1em;
  font-weight: bold;
  margin: 0 20px 0 20px;
}
header section.menu nav a:hover {
  color: #222;
}
header section.menu nav .active {
  color: #3875d7;
}
header section.menu section.social {
  float: right;
  margin: 24px 0 0 0;
}
header section.menu section.social a.social {
  display: inline-block;
  opacity: 0.5;
  width: 24px;
  height: 24px;
  margin: 0 0 0 15px;
  background-repeat: no-repeat;
}
header section.menu section.social a.social:hover {
  opacity: 0.9;
}
header section.menu section.social a.github {
  background-image: url("/images/github-black-24.png");
}
header section.menu section.social a.linkedin {
  background-image: url("/images/linkedin-black-24.png");
}
header section.menu section.social a.twitter {
  background-image: url("/images/twitter-black-24.png");
}
div.wrapper-presentation {
  padding: 100px 0 20px 0;
  width: 100%;
  background: #f8f8ff;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0 4px 0 #ddd;
}
section.presentation {
  width: 700px;
  margin: auto;
  padding: 0 0 20px 0;
}
section.presentation div.text-column {
  vertical-align: top;
  display: inline-block;
  width: 225px;
  padding: 0 0 0 40px;
}
section.presentation div.text-column a#mailto {
  text-align: right;
  margin: 10px 0 0 0;
}
img#avatar {
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
  border-bottom: 1px solid #bbb;
  border-left: 1px solid #ccc;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}
img.paper {
  padding: 14px 14px 25px 14px;
  background: #fff;
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.3), inset 0 0 50px rgba(100,100,100,0.025);
  -moz-box-shadow: 0 0 4px rgba(0,0,0,0.3), inset 0 0 50px rgba(100,100,100,0.025);
  -o-box-shadow: 0 0 4px rgba(0,0,0,0.3), inset 0 0 50px rgba(100,100,100,0.025);
  -ms-box-shadow: 0 0 4px rgba(0,0,0,0.3), inset 0 0 50px rgba(100,100,100,0.025);
  box-shadow: 0 0 4px rgba(0,0,0,0.3), inset 0 0 50px rgba(100,100,100,0.025);
}
div.wrapper-latest {
  padding: 20px 0 0 0;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0 4px 0 #ddd;
}
section.blog-latest {
  width: 700px;
  margin: auto;
  padding: 0 0 20px 0;
}
section.blog-latest div.summary-latest {
  width: 550px;
  display: inline-block;
}
section.blog-latest div.categories {
  vertical-align: top;
  display: inline-block;
  width: 120px;
  padding: 20px 0 0 20px;
  text-align: center;
}
section.blog-latest div.categories ul {
  padding: 0;
  list-style-type: none;
}
section.blog-latest div.categories ul li {
  font-size: 0.8em;
  text-align: center;
  padding: 0 0 10px 0;
}
section.blog-latest div.categories ul li a {
  text-decoration: none;
  color: #444;
}
section.blog-latest div.categories ul li a:hover {
  color: #5897fb;
}
div.wrapper-portfolio {
  padding: 20px 0 0 0;
  width: 100%;
  background: #f8f8ff;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0 4px 0 #ddd;
}
section.portfolio {
  width: 700px;
  margin: auto;
  padding: 0 0 20px 0;
}
section.portfolio div.project {
  display: inline;
  width: 50%;
  float: left;
}
section.portfolio div.project a {
  padding: 6px 8px;
  display: block;
  position: relative;
}
section.portfolio div.project a:hover span.detail {
  visibility: visible;
  opacity: 1;
}
section.portfolio div.project img {
  padding: 0;
  width: 100%;
  border: 1px solid #dedede;
  -webkit-box-shadow: 0 1px 2px 0px rgba(0,0,0,0.6), inset 3px 0 10px -2px rgba(255,255,255,0.7);
  box-shadow: 0 1px 2px 0px rgba(0,0,0,0.6), inset 3px 0 10px -2px rgba(255,255,255,0.7);
}
section.portfolio div.project span.detail {
  position: absolute;
  width: auto;
  height: auto;
  top: 7px;
  right: 6px;
  bottom: 10px;
  left: 9px;
  background-color: rgba(255,255,255,0.85);
  visibility: hidden;
  opacity: 0;
  transition: all 500ms;
  -moz-transition: all 500ms;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
}
section.portfolio div.project span.detail span.inner-detail {
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 1.5em;
  padding: 0;
  position: absolute;
  width: 170px;
  height: 190px;
  top: 35%;
  left: 50%;
  margin-top: -60px;
  margin-left: -80px;
  text-align: center;
}
section.portfolio div.project span.detail span.inner-detail span.project-name {
  color: #088a29;
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 0.5em;
  display: block;
}
section.portfolio div.project span.detail span.inner-detail span.contribution {
  color: #2e2e2e;
  font-size: 1em;
  font-weight: 500;
  display: block;
}
section.portfolio div.project span.detail span.inner-detail span.stars {
  display: block;
}
section.portfolio div.project span.detail span.inner-detail span.stars span.star {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
section.portfolio div.project span.detail span.inner-detail span.stars .orange {
  background-image: url("/images/star-orange.png");
}
section.portfolio div.project span.detail span.inner-detail span.stars .purple {
  background-image: url("/images/star-purple.png");
}
section.portfolio div.project span.detail span.inner-detail span.stars .blue {
  background-image: url("/images/star-blue.png");
}
section.portfolio div.project span.detail span.inner-detail span.stars .gray {
  background-image: url("/images/star-gray.png");
}
div.wrapper-tools {
  padding: 20px 0 0 0;
  width: 100%;
}
section.tools {
  width: 700px;
  margin: auto;
  padding: 0 0 20px 0;
}
section.tools div.tool {
  display: inline;
  width: 33%;
  float: left;
}
section.tools div.tool a {
  padding: 6px 8px;
  display: block;
  position: relative;
}
section.tools div.tool a:hover span.knowledge {
  visibility: visible;
  opacity: 1;
}
section.tools div.tool img {
  padding: 0;
  width: 100%;
  border: 1px solid #dedede;
  -webkit-box-shadow: 0 1px 2px 0px rgba(0,0,0,0.6), inset 3px 0 10px -2px rgba(255,255,255,0.7);
  box-shadow: 0 1px 2px 0px rgba(0,0,0,0.6), inset 3px 0 10px -2px rgba(255,255,255,0.7);
}
section.tools div.tool span.knowledge {
  position: absolute;
  width: auto;
  height: auto;
  top: 12px;
  right: 12px;
  bottom: 12px;
  left: 12px;
  background-color: rgba(255,255,255,0.85);
  visibility: hidden;
  opacity: 0;
  transition: all 500ms;
  -moz-transition: all 500ms;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
}
section.tools div.tool span.knowledge span.inner {
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 1.5em;
  padding: 0;
  position: absolute;
  width: 170px;
  height: 170px;
  top: 40%;
  left: 50%;
  margin-top: -60px;
  margin-left: -80px;
  text-align: center;
}
section.tools div.tool span.knowledge span.inner span.tool {
  color: #3875d7;
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 0.5em;
  display: block;
}
section.tools div.tool span.knowledge span.inner span.rating {
  color: #2e2e2e;
  font-size: 1em;
  font-weight: 400;
  display: block;
}
section.tools div.tool span.knowledge span.inner span.stars {
  display: block;
}
section.tools div.tool span.knowledge span.inner span.stars span.star {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
section.tools div.tool span.knowledge span.inner span.stars .green {
  background-image: url("/images/star-green.png");
}
section.tools div.tool span.knowledge span.inner span.stars .gray {
  background-image: url("/images/star-gray.png");
}
div.wrapper-cloud {
  padding: 100px 0 20px 0;
  width: 100%;
  background: #f8f8ff;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0 4px 0 #ddd;
}
section.cloud {
  width: 700px;
  margin: auto;
  padding: 0 0 20px 0;
}
section.cloud div.category-cloud {
  vertical-align: top;
  display: inline-block;
  width: 250px;
  padding: 0 0 0 20px;
}
section.cloud div.tag-cloud {
  vertical-align: top;
  display: inline-block;
  width: 250px;
  padding: 0 0 0 20px;
}
section.blog {
  width: 700px;
  margin: auto;
  padding: 0 0 20px 0;
  padding: 20px 0 20px 0;
}
section.blog div.summaries {
  margin: 60px 0 0 0;
}
article.summary {
  width: 100%;
  padding: 0 0 20px 0;
}
hgroup.summary-title,
hgroup.post-title {
  padding: 0 0 5px 0;
}
h2.title {
  font-size: 2em;
  color: #444;
}
a h2.title:hover {
  color: #3875d7;
}
h3.created,
h3.author,
h3.comments {
  display: inline;
  font-size: 0.8em;
  color: #888;
}
h3.comments {
  margin: 0 0 0 15px;
}
div.summary-abstract,
div.post-content {
  text-align: justify;
}
div.summary-abstract h3,
div.post-content h3 {
  font-family: 'Monda', sans-serif;
  font-size: 1em;
  padding: 10px 0 10px 0;
}
div.summary-abstract h4,
div.post-content h4 {
  font-family: 'Monda', sans-serif;
  font-size: 0.8em;
  padding: 10px 0;
}
div.summary-abstract a,
div.post-content a {
  color: #3875d7;
}
div.summary-abstract img.center,
div.post-content img.center {
  display: block;
  margin: 20px auto;
}
div.summary-abstract img.left,
div.post-content img.left {
  float: left;
  margin: 10px 10px 10px 0;
}
div.summary-abstract img.right,
div.post-content img.right {
  float: right;
  margin: 10px 0 10px 10px;
}
div.summary-abstract pre,
div.post-content pre {
  margin: 20px;
}
div.summary-action,
div.post-action {
  padding: 10px 0 0 0;
}
div.summary-action a,
div.post-action a {
  line-height: 1 !important;
  font-size: 12px;
  margin: 0 15px 0 0;
}
div.summary-action a.link,
div.post-action a.link {
  background: #fff;
}
div.summary-action a.tag,
div.post-action a.tag {
  margin: 0 5px 0 0;
}
div.summary-action a.category:hover,
div.post-action a.category:hover {
  background: #fff;
}
div.pagination {
  margin: 20px 0 20px 0;
  float: right;
}
a#page-selector {
  background: #fff;
  width: 134px;
}
div.wrapper-post {
  width: 700px;
  margin: auto;
  padding: 80px 0 20px 0;
}
div.wrapper-post section.column-1 {
  width: 520px;
  display: inline-block;
}
div.wrapper-post aside.column-2 {
  vertical-align: top;
  display: inline-block;
  width: 160px;
  padding: 20px 0 0 20px;
}
div.wrapper-post aside.column-2 div.categories,
div.wrapper-post aside.column-2 div.similars {
  padding: 20px 0 0 0;
  text-align: center;
}
div.wrapper-post aside.column-2 div.categories ul,
div.wrapper-post aside.column-2 div.similars ul {
  list-style-type: none;
  padding: 0;
}
div.wrapper-post aside.column-2 div.categories ul li,
div.wrapper-post aside.column-2 div.similars ul li {
  font-size: 0.8em;
  text-align: center;
  padding: 0 0 10px 0;
}
div.wrapper-post aside.column-2 div.categories ul li a,
div.wrapper-post aside.column-2 div.similars ul li a {
  text-decoration: none;
  color: #444;
}
div.wrapper-post aside.column-2 div.categories ul li a:hover,
div.wrapper-post aside.column-2 div.similars ul li a:hover {
  color: #3875d7;
}
div.comments {
  margin: 25px 0 0 0;
  border-top: 1px solid #ddd;
}
div.comments h3.title {
  font-family: 'Monda', sans-serif;
  font-size: 1.1em;
  padding: 15px 0 15px 0;
}
div.comments div.comment {
  margin: 0 0 20px 0;
  padding: 10px;
}
div.comments div.comment h5 {
  font-family: 'Monda', sans-serif;
  font-size: 0.8em;
  padding: 0px 0 10px 0;
}
div.comments div.comment h5 span {
  color: #888;
}
div.comments div.comment div {
  padding: 0 0 0 10px;
}
div.comments div.comment div p a {
  color: #3875d7;
}
div.comments div.comment div p pre {
  margin: 20px;
}
div.comments form h5 {
  border-top: 1px solid #ddd;
  font-family: 'Monda', sans-serif;
  font-size: 0.8em;
  padding: 20px 0 10px 0;
}
div.comments form input,
div.comments form textarea {
  -webkit-appearance: none;
  border: none;
  border-bottom: 1px solid #ccc;
  font-family: 'Open Sans', sans-serif;
  margin: 0 0 10px 0;
  padding: 0.5em 0.5%;
}
div.comments form input:focus,
div.comments form textarea:focus {
  outline: none;
  border-bottom: 1px solid #888;
}
div.comments form #error-msg {
  font-size: 0.8em;
  display: inline-block;
  margin: 0 0 0 10px;
  color: #cd0a0a;
}
div.comments div.note {
  margin: 20px 0 0 0;
}
footer div.footer-content {
  background: #f5f5f5;
  border-top: 1px solid #ccc;
  box-shadow: 0 0 4px #ddd;
}
footer div.footer-content p {
  padding: 20px 0 20px 0;
  text-align: center;
  color: #444;
}
footer div.footer-content p a {
  color: #444;
}
div.wrapper-login,
div.wrapper-admin,
div.wrapper-users,
div.wrapper-articles,
div.wrapper-user,
div.wrapper-article {
  padding: 100px 0 20px 0;
  width: 100%;
  background: #f8f8ff;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0 4px 0 #ddd;
}
section.login,
section.admin,
section.users,
section.articles,
section.user,
section.article {
  width: 700px;
  margin: auto;
  padding: 0 0 20px 0;
}
section.login ul,
section.admin ul,
section.users ul,
section.articles ul,
section.user ul,
section.article ul {
  padding: 0;
  list-style-type: none;
}
section.login ul li,
section.admin ul li,
section.users ul li,
section.articles ul li,
section.user ul li,
section.article ul li {
  font-size: 0.8em;
  padding: 0 0 10px 0;
}
section.login ul li a,
section.admin ul li a,
section.users ul li a,
section.articles ul li a,
section.user ul li a,
section.article ul li a {
  text-decoration: none;
  color: #444;
}
section.login ul li a:hover,
section.admin ul li a:hover,
section.users ul li a:hover,
section.articles ul li a:hover,
section.user ul li a:hover,
section.article ul li a:hover {
  color: #5897fb;
}
section.login form p,
section.admin form p,
section.users form p,
section.articles form p,
section.user form p,
section.article form p {
  padding: 0 0 10px 0;
}
section.login form p label,
section.admin form p label,
section.users form p label,
section.articles form p label,
section.user form p label,
section.article form p label {
  display: block;
}
section.login form p textarea.nice,
section.admin form p textarea.nice,
section.users form p textarea.nice,
section.articles form p textarea.nice,
section.user form p textarea.nice,
section.article form p textarea.nice,
section.login form p input.nice,
section.admin form p input.nice,
section.users form p input.nice,
section.articles form p input.nice,
section.user form p input.nice,
section.article form p input.nice {
  -webkit-appearance: none;
  border: none;
  border-bottom: 1px solid #ccc;
  font-family: 'Open Sans', sans-serif;
  margin: 0 0 10px 0;
  padding: 0.5em 0.5%;
}
section.login form p textarea.nice:focus,
section.admin form p textarea.nice:focus,
section.users form p textarea.nice:focus,
section.articles form p textarea.nice:focus,
section.user form p textarea.nice:focus,
section.article form p textarea.nice:focus,
section.login form p input.nice:focus,
section.admin form p input.nice:focus,
section.users form p input.nice:focus,
section.articles form p input.nice:focus,
section.user form p input.nice:focus,
section.article form p input.nice:focus {
  outline: none;
  border-bottom: 1px solid #888;
}
section.login form p textarea,
section.admin form p textarea,
section.users form p textarea,
section.articles form p textarea,
section.user form p textarea,
section.article form p textarea {
  width: 100%;
  height: 150px;
}
section.login form p input.user,
section.admin form p input.user,
section.users form p input.user,
section.articles form p input.user,
section.user form p input.user,
section.article form p input.user {
  width: auto;
}
section.login p.action,
section.admin p.action,
section.users p.action,
section.articles p.action,
section.user p.action,
section.article p.action {
  padding: 20px 0 0 0;
}
section.login p.action input.save,
section.admin p.action input.save,
section.users p.action input.save,
section.articles p.action input.save,
section.user p.action input.save,
section.article p.action input.save {
  margin: 0 10px 0 0;
}
section.login p.action a.new,
section.admin p.action a.new,
section.users p.action a.new,
section.articles p.action a.new,
section.user p.action a.new,
section.article p.action a.new {
  margin: 0 10px 0 0;
}
