extends ../../layout
block content
  div.wrapper-admin
    section.admin
      h1 #{title}
      ul
        li
          a(href='/blog/admin/users') Usuarios
      ul
        li
          a(href='/blog/admin/articles') Artículos
      p.action
        a.link(href='/blog/logout') Salir