extends ../../layout
block content
  div.wrapper-admin
    section.admin
      h1 #{title}
      ul
        - each article in articles
          li
            a(href="/blog/admin/articles/#{article.slug}") #{article.title}
      p.action
        a.link.new(href='/blog/admin/articles/new') Nuevo
        a.link(href='/blog/admin') Volver