extends ../../layout
block content
  section#admin.row
      form(method='post', action='/blog/login')
        legend Autenticación
        p
          label Usuario:
          input.nice.user(type='text', name='username')
        p
          label Password:
          input.nice.user(type='password', name='password')
        p.action
          input.login(type='submit', value='Login')
