head
  meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
  meta(http-equiv="content-language", content="es-ES")
  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
  meta(name="title", content="#{title}")
  meta(name="description", content="Daniel García Aubert. Desarrollador web. Experto en java y javascript. Blog sobre desarrollo web, metodologías ágiles y TDD")
  meta(name="keywords", content="programador, desarrollador web, freelance, javascript, java, scrum, extreme programming, test driven development")
  title #{title}
  link(rel='shortcut icon', type='image/x-icon', href='/images/favicon.ico')
  link(rel='stylesheet', href='/css/mammoth.css')
  include ga