extends layout
block content
  div.wrapper-filter
    include includes/filter
  div.blog
    include includes/pagination
    include includes/summary
    include includes/pagination
  div(style='clear:both')
