doctype 5
html
  head 
    title Ooops!
    link(rel='shortcut icon', type='image/x-icon', href='/images/favicon.ico')
    link(rel='stylesheet', href='/style/mammoth.css')
  body
    h1 Ooops!! An error occurred!
    block content