extends layout
block content
  div.wrapper-presentation
    section.presentation
      img#avatar.paper(src='/images/avatar.jpg', alt='Daniel Garcia Aubert',  height='156px', width='140px')
      div.text-column
        h3 ¡Bienvenido!
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris faucibus ornare bibendum. Maecenas fringilla sapien vel lorem convallis rhoncus. Nullam neque erat, egestas vitae cursus vitae, mollis at ipsum. Nulla facilisi.
      div.text-column
        h3 Contacto
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris faucibus ornare bibendum. Maecenas fringilla sapien vel lorem convallis rhoncus.
        a#mailto(href='mailto:danielgarciaaubert@gmail.com') Contactar
  div.wrapper-latest
    section.blog-latest
      h2 Lo último en el blog:
      div.summary-latest
        include includes/summary
      div.categories
        h3 Categorias
        ul
          - each category in categories
            li
              a(href='/blog/category/#{category._id}') #{category._id} (#{category.value})
  div.wrapper-portfolio
    section.portfolio
      h2 Portfolio:
      div.project
        a(href='https://github.com/dgaubert/mammoth')
          img(src='/images/project-mammoth.png')
          span.detail
            span.inner-detail
              span.project-name Mammoth
              span.contribution Contribución
              span.stars
                span.star.purple
                span.star.purple
                span.star.purple
                span.star.purple
                span.star.purple
              span.contribution Código vs Diseño
              span.stars
                span.star.orange
                span.star.orange
                span.star.orange
                span.star.blue
                span.star.blue
      div.project
        a(href='https://github.com/dgaubert')
          img(src='/images/project-sylvette.png')
          span.detail
            span.inner-detail
              span.project-name Sylvette
              span.contribution Contribución
              span.stars
                span.star.purple
                span.star.purple
                span.star.purple
                span.star.gray
                span.star.gray
              span.contribution Codigo vs Diseño
              span.stars
                span.star.orange
                span.star.orange
                span.star.blue
                span.star.blue
                span.star.blue
      div(style='clear:both')
  div.wrapper-tools
    section.tools
      h2 Herramientas:
      div.tool
        a(href='http://nodejs.org/')
          img(src='/images/tool-nodejs.jpg')
          span.knowledge
            span.inner
              span.tool Node.js
              span.rating Avanzado
              span.stars
                span.star.green
                span.star.green
                span.star.green
                span.star.green
                span.star.gray      
      div.tool
        a(href='http://expressjs.com/')
          img(src='/images/tool-expressjs.jpg')
          span.knowledge
            span.inner
              span.tool Express.js
              span.rating Avanzado
              span.stars
                span.star.green
                span.star.green
                span.star.green
                span.star.green
                span.star.gray
      div.tool
        a(href='http://www.mongodb.org/')
          img(src='/images/tool-mongo.jpg')
          span.knowledge
            span.inner
              span.tool MongoDB
              span.rating Avanzado
              span.stars
                span.star.green
                span.star.green
                span.star.green
                span.star.green
                span.star.gray
      div.tool
        a(href='http://jquery.com/')
          img(src='/images/tool-jquery.jpg')
          span.knowledge
            span.inner
              span.tool jQuery
              span.rating Avanzado
              span.stars
                span.star.green
                span.star.green
                span.star.green
                span.star.green
                span.star.gray   
      div.tool
        a(href='http://git-scm.com/')
          img(src='/images/tool-git.png')
          span.knowledge
            span.inner
              span.tool Git SCM
              span.rating Avanzado
              span.stars
                span.star.green
                span.star.green
                span.star.green
                span.star.green
                span.star.gray
      div.tool
        a(href='http://backbonejs.org/')
          img(src='/images/tool-backbonejs.png')
          span.knowledge
            span.inner
              span.tool Backbone.js
              span.rating Rookie
              span.stars
                span.star.green
                span.star.green
                span.star.gray
                span.star.gray
                span.star.gray  
      div(style='clear:both')        
            
