extends layout
block content

  //- wellcome
  section#presentation.jumbotron
    div.container
      div.col-md-2
        img.img-circle.img-responsive(src='/images/avatar.jpg', alt='Daniel Garcia Aubert',  height='156px', width='140px')
      div.col-md-5
        h2 ¡Bienvenido!
        p Me llamo <strong>Daniel Gª Aubert</strong>, estoy especializado en
          | construir aplicaciones web. Para mí el desarrollo software el 
          | algo más que una forma de ganarme la vida, es mi profesión y una
          | manera de entender el mundo.
      div.col-md-5
        h2 Contacto
        p ¿Tienes una idea?, ¿quieres desarrollar una aplicación o servicio?, 
          | ¿tu negocio necesita una web?. Construyo software de calidad.
        p
          a.btn.btn-primary.btn-lg(href='mailto:danielgarciaaubert@gmail.com') Contactar
  
  //- latest article
  section#blog-latest
    div.container
      h2 Lo último en el blog:
      div.row
        div.col-md-9
          include blog/includes/summary
        div.well.col-md-3
          h3 Categorías
          ul.list-unstyled
            - each category in categories
              li
                a(href='/blog/category/#{category._id}') #{category._id} (#{category.value})

  <hr class="featurette-divider">
  
  //- portfolio
  section#portfolio
    div.container
      h2 Portfolio:
      div.row
        div.col-md-4
          a.img-thumbnail(href='https://github.com/dgaubert/mammoth')
            img.img-rounded.img-responsive(src='/images/project-mammoth.png')
        div.col-md-4
          a.img-thumbnail(href='http://www.artegaubert.com')
            img.img-rounded.img-responsive(src='/images/project-arte-gaubert.png')

  <hr class="featurette-divider">
  
  //- tools
  section#tools
    div.container
      h2 Herramientas:
      div.row
        div.col-md-2
          a.img-thumbnail(href='http://nodejs.org/')
            img.img-rounded.img-responsive(src='/images/tool-nodejs.jpg')
        div.col-md-2
          a.img-thumbnail(href='http://expressjs.com/')
            img.img-rounded.img-responsive(src='/images/tool-expressjs.jpg')
        div.col-md-2
          a.img-thumbnail(href='http://www.mongodb.org/')
            img.img-rounded.img-responsive(src='/images/tool-mongo.jpg')
        div.col-md-2
          a.img-thumbnail.img-responsive(href='http://jquery.com/')
            img.img-rounded.img-responsive(src='/images/tool-jquery.jpg')
        div.col-md-2
          a.img-thumbnail(href='http://git-scm.com/')
            img.img-rounded.img-responsive(src='/images/tool-git.png')
        div.col-md-2
          a.img-thumbnail(href='http://backbonejs.org/')
            img.img-rounded.img-responsive(src='/images/tool-backbonejs.png')
