extends layout

block content
  h1 #{title}
  p Welcome to #{title}

block pagination
  ul#pagination.ui-widget.ui-helper-clearfix
    li.ui-state-default.ui-corner-all
      span.ui-icon.ui-icon-carat-1-w
    li.pagination-info
      span #{pagination}
    li.ui-state-default.ui-corner-all    
      span.ui-icon.ui-icon-carat-1-e
