doctype 5
html
  include includes/head
  body
    include includes/header
    div.container
      block content
    include includes/footer
    script(type='text/javascript', src='/lib/jquery/jquery-1.8.2.min.js')
    script(type='text/javascript', src='/lib/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/mammoth.js')