doctype 5
html
  include includes/head
  body
    div.content
      include includes/header
      block content
    include includes/footer
    script(type='text/javascript', src='/javascript/jquery-1.8.2.min.js')
    script(type='text/javascript', src='/javascript/jquery-ui-1.9.1.mammoth.min.js')
    script(type='text/javascript', src='/plugin/jqcloud/jqcloud-1.0.2.js')
    script(type='text/javascript', src='/plugin/textarea-autosize/jquery.autosize.js')
    script(type='text/javascript', src='/javascript/mammoth.js')