extends layout
block content
  div.wrapper-users
    section.users
      h1 #{title}
      ul
        - each user in users
          li
            a(href="/blog/admin/users/#{user.username}") #{user.username}
      p.action
        a.link.new(href='/blog/admin/users/new') Nuevo
        a.link(href='/blog/admin') Volver