body {
  padding: 50px 0 0 0;
}

.presentation {
  padding: 20px;
  background-color: #eee;
}

.icon-stack {
  color: rgb(1, 158, 152);
}

.first-section {
  padding: 20px 0 0 0;
}

#labels {
  margin: 20px 0 40px 0;
}

#labels a{
  margin: 0 5px 0 0;
}

.btn-bar a:not(:first-child), button:not(:first-child) {
  margin: 0 0 0 5px;
}

.comment h5 {
  padding-top: 20px;
}

.section-admin {
  min-height: 400px;
  padding: 50px;
}

footer {
  background-color: #222;
  color: #999;
  padding: 40px 20px 40px 20px;
  margin: 40px -20px 0 -20px;
}

footer a:hover {
  text-decoration: none;
}