body {
  padding: 50px 0 0 0;
}

.first-section {
  padding: 20px 0 0 0;
}

#labels {
  margin: 20px 0 40px 0;
}

#labels a{
  margin: 0 5px 0 0;
}

footer {
  background-color: @grayDarker;
  color: @grayLight;
  padding: 40px 20px 40px 20px;
  margin: 40px -20px 0 -20px;
}

footer a:hover {
  text-decoration: none;
}