body {
  padding: 50px 0 0 0;
}
section {
  padding: 15px 0 15px 0;
}

article {
  padding: 0 0 15px 0;
}

#wellcome {
  background-color: #e8e8e8;
}

#last-article {
  background-color: #f1f1f1;
}

#blog {
  background-color: #e8e8e8;
}

#article {
  background-color: #e8e8e8;
}

#portfolio {
  background-color: #e8e8e8;
}

#tools {
  background-color: #f1f1f1;
}

#admin {
  background-color: #e8e8e8;
  min-height: 400px;
  padding: 50px;
}

.comment h5 {
  padding-top: 20px;
}

footer {
  background-color: #222;
  color: #999;
  padding: 40px 20px 40px 20px;
}

footer a:hover {
  text-decoration: none;
}

/* Customize Bootstrap */

.icon-stack {
  color: #666;
}

.btn-toolbar {
  margin-top: 15px;
}
