extends ../../layout
block content
  section#admin
    div.container
      div.row
        div.col-md-6.col-md-offset-3
          legend
            h2 #{title}:
          ul.nav.nav-list
            li
              a(href='/blog/admin/users') Usuarios
            li
              a(href='/blog/admin/articles') Artículos
            li
              a(href='/blog/admin/captcha') Captcha
          div.btn-toolbar
            a.btn.btn-primary.pull-right(href='/blog/logout')
              i.icon-signout
              span  Salir