extends ../../layout
block content
  section#admin
    div.container
      div.row
        div.col-md-6.col-md-offset-3
          legend
            h2 Subir imagen
          form(method='post', action='/blog/admin/captcha/new', enctype='multipart/form-data')
            div.form-group
              input(type='file', name='captcha')
            div.form-group.input-group
              span.input-group-addon Value
              input.form-control(type='text', name='value')
            div.btn-toolbar
              a.btn.btn-primary(href='/blog/admin/captcha')
                i.icon-arrow-left
                span  Volver
              button.btn.btn-success.pull-right(type='submit')
                i.icon-picture
                span  Subir captcha
