doctype 5
html
  head 
    title Ooops!
    link(rel='shortcut icon', type='image/x-icon', href='/images/favicon.ico')
    link(rel='stylesheet', href='/css/mammoth.css')
  body
    include ../includes/header
    block content
    include ../includes/footer