extends ../layout
block content
  section#blog
    div.container
      div.row
        div.col-md-offset-1.col-md-10
          include includes/pagination
          include includes/summary
          include includes/pagination
