extends ../layout
block content
  div.wrapper-cloud
    include includes/cloud
  section.blog
    include includes/pagination
    include includes/summary
    include includes/pagination
  div(style='clear:both')
